@import '../../App.scss';

.Kategorien {
  margin: 60px 0px;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.category-title {
  text-align: left;
  margin-left: 20px;
}

.main {
  display: flex;
}

.body-container {
  display: flex;
  justify-content: space-around;
  min-width: 1200px;
  width: 100%;
  transition: opacity 0.1s ease;
}

.link {
  text-decoration: none;
  color: $primary-color-black;
  
  &:hover {
    color: $primary-color-green;
  }
}

.book-container {
  display: flex;
  flex-direction: column;
  margin: 0px 22px;
  transition: opacity 0.1s ease;

  ul {
    padding: 0;
  }

  ul li {
    /* 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        */
    list-style-type: none;
  }

  .informations {
    padding: 10px;
    line-height: 21px;
    background-color: $primary-color-grey;
    width: 200px;
    height: 120px;
    border-radius: 0px 0px 10px 10px;
    color: $primary-color-black;

    .bold {
      font-weight: 600;
    }
  }
}

.picture-box {
  img {
    border-radius: 10px 10px 0px 0px;
    width: 200px;
    height: 270px;
    background-color: $primary-color-grey;
    padding: 6px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-container.fade-transition {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease; /* Hier die Transition-Dauer anpassen */
}

.book-container.fade-transition {
  opacity: 0;
}

.slide-left-button,
.slide-right-button {
  font-size: 38px;
  cursor: pointer;
  height: max-content;
  color: $primary-color-black;
  background-color: $primary-color-white;
  border-radius: 100%;
  border: 1px solid $primary-color-black;
  margin: 0px auto 100px auto;
  display: flex;
}

.body-container.fade-transition {
  opacity: 0;
  pointer-events: none;
}

.book-container.fade-transition {
  opacity: 0;
}

.informations .book-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-pages-container {
  text-align: right;

  .slider-page {
    background-color: $primary-color-green;
    color: white;
    padding: 3px 12px;
    border-radius: 20px;
  }
}