.neuheiten-body-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-height: 500px;
  min-height: 500px;
  transition: opacity 0.2s ease;
}

.neuheiten-main {
  display: flex;
}

.neuheiten-book-container {
  display: flex;
  transition: opacity 1s ease;
  width: 500px;

  ul li {
    list-style-type: none;
  }

  .neuheiten-informations {
    margin-top: 10px;
    line-height: 30px;
  }

  .bold {
    font-weight: bold;
  }
}

.neuheiten-picture-box {
  img {
    width: 300px;
    background-color: rgb(242, 242, 242);
    padding: 10px;
  }
}

.neuheiten-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
}

.neuheiten-body-container.fade-transition {
  opacity: 0;
  pointer-events: none;
}

.neuheiten-book-container.fade-transition {
  opacity: 0;
}

.neuheiten-progress-bar {
  width: 100%;
  height: 8px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-top: 10px;
}

.neuheiten-progress {
  height: 100%;
  background-color: green;
  border-radius: 4px;
  transition: width 0.7s ease;
}

.neuheiten-progress--full {
  width: 100%;
}

.neuheiten-book-container .neuheiten-book-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}