.romantik-main {
    display: flex;
  }
  
  .romantik-body-container {
    display: flex;
    max-height: 500px;
    min-height: 500px;
    transition: opacity 0.1s ease;
    width: 100%;
    min-width: 1000px;
  }
  
  .romantik-book-container {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 0px 22px;
    transition: opacity 0.1s ease;
  
    ul {
      padding: 0;
    }
  
    ul li {
      /* 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        */
      list-style-type: none;
    }
  
    .romantik-informations {
      margin-top: 10px;
      line-height: 26px;
  
      .bold {
        font-weight: bold;
      }
    }
  }
  
  .romantik-picture-box {
    img {
      width: 160px;
      background-color: rgb(242, 242, 242);
      padding: 10px;
    }
  }
  
  .romantik-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .romantik-body-container.fade-transition {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease; /* Hier die Transition-Dauer anpassen */
  }
  
  .romantik-book-container.fade-transition {
    opacity: 0;
  }
  
  .slide-left-button,
  .slide-right-button {
    font-size: 38px;
    cursor: pointer;
    height: max-content;
    color: white;
    background-color: green;
    border-radius: 100%;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
  }
  
  .romantik-progress-bar {
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
  }
  
  .romantik-progress {
    height: 100%;
    background-color: #337ab7;
    transition: width 0.3s ease;
  }
  
  .romantik-progress--full {
    background-color: #5cb85c;
  }
  
  .romantik-body-container.fade-transition {
    opacity: 0;
    pointer-events: none;
  }
  
  .romantik-book-container.fade-transition {
    opacity: 0;
  }
  
  .romantik-informations .romantik-book-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  