@import "../../App.scss";

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
  height: 80px;
  background-color: $primary-color-black;
  color: $primary-color-white;
  margin-bottom: 70px;
}

.link {
  text-decoration: none;
  margin: 0px 14px;
  color: $primary-color-white;

  h1 {
    .title-first-part {
      color: $primary-color-green;
    }

    .title-second-part {
      color: $primary-color-white;
    }
  }
}

.mid-list {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      list-style-type: none;
      color: $primary-color-white;

      &:hover {
        color: $primary-color-green;
      }
    }

    .sale {
      color: $primary-color-green;
    }
  }
}

form {
  display: flex;

  .input {
    width: 550px;
    height: 35px;
    padding: 4px;
  }

  .search-button {
    background-color: $primary-color-green;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 1.3rem;
    }
  }
}

.right-list {
  display: flex;

  .header-right-container-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px;
    margin: 0px 8px;
    cursor: pointer;
    
    &:hover {
      color: $primary-color-green;
    }

    .cart-link {
      text-decoration: none;
      color: $primary-color-white;
      text-align: center;

      &:hover {
        color: $primary-color-green;
      }
    }

    i {
      font-size: 22px;
    }

    span {
      font-size: 15px;
    }
  }
}

.bi-search {
  border: none;
  background-color: transparent;
}